.quill-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.quill-wrapper {
  min-height: 400px;
  
}

@media screen and (max-width: 600px) {
  .quill-wrapper {
    height: 300px;
  }
}
