/* .text{
    color: var(--primary-color);
}
.glassmorph{
    background: linear-gradient(135deg,rgba(59, 59, 59, 0.01),rgba(2, 0, 0, 0));
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(15px);
    
} */